<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular e-commerce</span>
  <span class="example-spacer"></span>
  <a routerLink="/home" routerLinkActive="active" mat-button>Home</a>
  <a routerLink="/products" routerLinkActive="active" mat-button>Products</a>
  <a routerLink="/login" routerLinkActive="active" mat-button>
    login
    <mat-icon aria-hidden="false" aria-label="Example login icon">
      login
    </mat-icon>
  </a>
</mat-toolbar>
<router-outlet></router-outlet>


<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
